html {
    height: 100%;
}

body {
    background-color: transparent;
    font-size: 0.8rem!important;
}

.card-img {
  max-width: 150px;
}

.card-response-input {
  max-height: 400px;
}

.badge {
  font-size: 40%!important;
}

.modal-content {
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.scroll-able {
    width: 100%;
    white-space: nowrap;
    overflow-x:auto;
    overflow-y:hidden;
    white-space:nowrap;
    float:none;
    display:inline-block!important;
    vertical-align:top;
    padding-bottom: 10px;
}

.w-23 {
  max-width: 20%!important;
  width: 20%!important;
}