<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZenSpot - Login</title>
	
    <!--JQUERY-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<!-- Latest compiled and CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	
	<!--Google Fonts - PT Sans -->
	<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet'  type='text/css'>
	
	<link href="app/app-content/app.css" rel="stylesheet" />
	
	<script src="app/app-services/typed.js"></script>
	
    <style type="text/css">
        body {
            padding-top: 100px;
        }

        .form-container {
            width: 400px;
            margin: auto;
        }
		
		.float-left{
			line-height: 34px;
		}
    </style>
</head>
<body>

		<nav class="navbar fixed-top navbar-toggleable-md navbar-light">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-header">
			<a class="navbar-brand" href="/">
			<img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
			ZenSpot
			</a>
		</div>


		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<!--filler to move menu items to the right side -->
			<ul class="navbar-nav mr-auto"></ul>	

			<ul class="navbar-nav mt-md-0">
					<li class="nav-item active">
						<a class="nav-link" href="#"><button type="button" class="btn btn-outline-primary">Rent Spot</button></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/app/#/about">About</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="/register">Sign Up</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="/login">Login</a>
					</li>
			</ul> 
		</div>
	</nav>